In [2]:

#Final Project

import pandas as pd
import statistics 

MoneyList = pd.read_csv('MoneyList ESPN.csv')
WorldRanking = pd.read_csv('World Ranking PGA.csv')
Stats1 = pd.read_csv('Stats1 ESPN.csv')
Stats2 = pd.read_csv('Stats2 ESPN.csv')

MoneyList

,RK,PLAYER,AGE,EVENTS,ROUNDS,CUTS MADE,TOP 10,WINS,CUP POINTS,EARNINGS
0,1.0,Brooks Koepka,29,21.0,74.0,20.0,9.0,3.0,-13,"$9,684,006.00"
1,2.0,Rory McIlroy,30,19.0,68.0,17.0,14.0,3.0,-18,"$7,785,286.00"
2,3.0,Matt Kuchar,41,22.0,80.0,20.0,8.0,2.0,-1,"$6,294,690.00"
3,4.0,Patrick Cantlay,28,21.0,72.0,18.0,9.0,1.0,1,"$6,121,488.00"
4,5.0,Gary Woodland,35,24.0,84.0,21.0,8.0,1.0,-2,"$5,690,965.00"
...,...,...,...,...,...,...,...,...,...,...
212,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
213,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
214,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
215,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
216,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN